body {
    background-color: #d0e4fe;}
h1 {
	color: blue;
	text-align: center;
}
p.uno{
	font-family: "Times New Roman";
	font-size: 20px;
	color: green;
}
p.dos{
	font-family: "Times New Roman";
	font-size: 20px;
	color: blue;
}
a:link, a:visited {
    background-color: #f44336;
    color: white;
    padding: 14px 25px;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
}

a:hover, a:active {
    background-color: red;
}

